.multiple-choice-widget {
    align-items: center;
    background-color: white;
    border: 0.2em solid var(--neutral-100);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.multiple-choice-widget .button-choice {
    background-color: transparent;
    border: 0.2em solid var(--neutral-100);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    font: inherit;
    gap: 1em;
    padding: 1em;
    text-align: left;
    width: 100%;
}

.multiple-choice-widget .button-choice:not(:disabled):hover {
    background-color: var(--neutral-50);
}

.multiple-choice-widget .button-choice[data-correct="false"]:disabled {
    background-color: var(--red-200);
}

.multiple-choice-widget .button-choice[data-correct="false"]:disabled .button-choice-icon {
    background-color: var(--red-600);
    border-color: var(--red-700);
    color: white;
}

.multiple-choice-widget .button-choice[data-correct="true"][aria-checked="true"] {
    background-color: var(--green-200);
    color: black;
}

.multiple-choice-widget .button-choice[data-correct="true"][aria-checked="true"] .button-choice-icon {
    background-color: var(--green-600);
    border-color: var(--green-700);
    color: white;
}

.multiple-choice-widget .button-choice-icon {
    align-items: center;
    background-color: transparent;
    border: 0.2em solid var(--neutral-200);
    border-radius: 50%;
    color: var(--neutral-800);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
}

.multiple-choice-widget .choices {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.multiple-choice-widget .question {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.multiple-choice-widget .question img {
    width: 100%;
}