/* Base styles for all widgets */

:root {
    /* Color Scales */
    --black-alpha-50: #00000005;
    --black-alpha-100: #0000000D;
    --black-alpha-200: #0000001A;
    --black-alpha-300: #00000033;
    --black-alpha-400: #00000040;
    --black-alpha-500: #0000004D;
    --black-alpha-600: #00000066;
    --black-alpha-700: #00000080;
    --black-alpha-800: #00000099;
    --black-alpha-900: #000000B3;
    --black-alpha-950: #000000CC;
    --green-50: #F9FFF5FF;
    --green-100: #EFFEE5FF;
    --green-200: #E1FAD1FF;
    --green-300: #D3F7BAFF;
    --green-400: #B6EF8FFF;
    --green-500: #8DD65CFF;
    --green-600: #73BF40FF;
    --green-700: #5D9438FF;
    --green-800: #517A35FF;
    --green-900: #304521FF;
    --green-950: #24321BFF;
    --neutral-0: white;
    --neutral-50: #FDFDFDFF;
    --neutral-100: #F2F2F2FF;
    --neutral-200: #E1E1E1FF;
    --neutral-300: #C4C4C4FF;
    --neutral-400: #A1A1A1FF;
    --neutral-500: #7D7D7DFF;
    --neutral-600: #6E6E6EFF;
    --neutral-700: #5B5B5BFF;
    --neutral-800: #4D4D4DFF;
    --neutral-900: #242424FF;
    --neutral-950: #141313FF;
    --purple-50: #F6F7FEFF;
    --purple-100: #E7EAFDFF;
    --purple-200: #D0D6FBFF;
    --purple-300: #B8C1F9FF;
    --purple-400: #97A4F7FF;
    --purple-500: #7B8BF4FF;
    --purple-600: #5C71F2FF;
    --purple-700: #4257D6FF;
    --purple-800: #3B4BAAFF;
    --purple-900: #383F6BFF;
    --purple-950: #222640FF;
    --red-50: #FDF7F8FF;
    --red-100: #FBECEFFF;
    --red-200: #F6D5DCFF;
    --red-300: #F0B7B7FF;
    --red-400: #EA8F8FFF;
    --red-500: #E05A5AFF;
    --red-600: #D83131FF;
    --red-700: #B82E2EFF;
    --red-800: #A32F2FFF;
    --red-900: #772222FF;
    --red-950: #4F1717FF;
    --teal-50: #F5FEFFFF;
    --teal-100: #E5FDFFFF;
    --teal-200: #8DEAF2FF;
    --teal-300: #8DEAF2FF;
    --teal-400: #66D8E1FF;
    --teal-500: #36B5BFFF;
    --teal-600: #339299FF;
    --teal-700: #267373FF;
    --teal-800: #206060FF;
    --teal-900: #1C3B3BFF;
    --teal-950: #112222FF;
    --yellow-50: #FFFBE4FF;
    --yellow-100: #FFF7CCFF;
    --yellow-200: #FFF099FF;
    --yellow-300: #FFE866FF;
    --yellow-400: #FADD38FF;
    --yellow-500: #F2D00DFF;
    --yellow-600: #D4B711FF;
    --yellow-700: #AB9721FF;
    --yellow-800: #8C7E2CFF;
    --yellow-900: #6B622EFF;
    --yellow-950: #454021FF;

    /* Semantic Colors */
    --primary: var(--purple-600);
    --secondary: var(--teal-400);
    --error: var(--red-600);
    --warning: var(--yellow-500);
    --success: var(--green-500);

    /* Styles */
    --border-width: 0.2em;
    --border-width-small: 0.1em;
    --border-radius: 0.4em;
    --border-radius-small: 0.2em;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--blue-dark);
}

body {
    background-color: var(--neutral-50);
    font-family: "Poppins", sans-serif;
}

body:has(.column) {
    align-items: center;
    background-color: var(--neutral-50);
    display: flex;
    flex-direction: column;
    padding: 2em 2em 12em 2em;
}

.button-semantic {
    align-items: center;
    appearance: none;
    background-color: var(--button-background-color);
    border: 0.1em solid var(--button-border-color);
    border-radius: 0.5em;
    box-sizing: border-box;
    color: var(--button-color);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    gap: 0.5em;
    justify-content: center;
    line-height: 1.5;
    min-width: 40px;
    outline: 0px;
    padding: 0.4em 1.4em;
    transition: 0.15s ease;
    vertical-align: middle;
}

.button-semantic:disabled {
    background-color: var(--button-background-color-disabled);
    border-color: var(--button-border-color-disabled);
    color: var(--button-color-disabled);
    cursor: default;
}

.button-semantic:not(:disabled):hover {
    background-color: var(--button-background-color-hover);
}

.button-semantic:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
}

.button-primary {
    --button-background-color: var(--primary);
    --button-background-color-disabled: var(--black-alpha-500);
    --button-background-color-hover: var(--purple-800);
    --button-border-color: transparent;
    --button-border-color-disabled: transparent;
    --button-color: var(--neutral-0);
    --button-color-disabled: var(--black-alpha-500);
}

.button-secondary {
    --button-background-color: var(--neutral-0);
    --button-background-color-hover: var(--black-alpha-200);
    --button-background-color-disabled: var(--neutral-0);
    --button-border-color: var(--primary);
    --button-border-color-disabled: var(--neutral-300);
    --button-color: var(--primary);
    --button-color-disabled: var(--black-alpha-500);
}

.button-tertiary {
    --button-background-color: transparent;
    --button-background-color-hover: var(--black-alpha-200);
    --button-background-color-disabled: transparent;
    --button-border-color: transparent;
    --button-border-color-disabled: transparent;
    --button-color: var(--primary);
    --button-color-disabled: var(--black-alpha-500);
}

.button-icon {
    height: auto;
    width: 0.85em;
}

.column {
    padding: 1em;
    max-width: var(--expanded-width);
    width: 100%;
}

.column-sm {
    --base-width: 350px;
    --expanded-width: 425px;
}

.column-md {
    --base-width: 450px;
    --expanded-width: 600px;
}

.column-lg {
    --base-width: 600px;
    --expanded-width: 675px;
}

.column .text {
    max-width: var(--base-width);
    width: 100%;
}

.column .image {
    border: var(--border-width-small) solid var(--gray);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    max-width: var(--base-width);
    width: 100%;
}

.column .widget {
    max-width: var(--expanded-width);
    padding: 1em;
    width: 100%;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    max-width: var(--expanded-width);
    width: 100%;
}

section:not(:first-child) {
    display: none;
}

section *:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.margin-bottom-0 {
    margin-bottom: 0rem !important;
}

.margin-bottom-1 {
    margin-bottom: .25rem !important;
}

.margin-bottom-2 {
    margin-bottom: .5rem !important;
}

.margin-bottom-3 {
    margin-bottom: 1rem !important;
}

.margin-top-0 {
    margin-top: 0rem !important;
}

.margin-top-1 {
    margin-top: .25rem !important;
}

.margin-top-2 {
    margin-top: .5rem !important;
}

.margin-top-3 {
    margin-top: 1rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.loader {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px auto;
    position: relative;
    background: #FFF;
    box-shadow: -8px 0 #FFF, 8px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -8px 0 var(--blue), 8px 0 #FFF;
    }

    66% {
        background: var(--blue);
        box-shadow: -8px 0 #FFF, 8px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -8px 0 #FFF, 8px 0 var(--blue);
    }
}